In [1]:
import pandas as pd
import seaborn as sns

def highlight_12(val):
    color = 'blue' if val in Same_12 else 'black'
    return 'color: %s' % color

def highlight_13(val):
    color = 'green' if val in Same_13 else 'black'
    return 'color: %s' % color

def highlight_all(val):
    color = 'red' if val in Same_all else 'black'
    return 'color: %s' % color

## Porfolio Analysis Results
In this section, the porfolio performance table and weights table for each industry in terms of three kinds of estimates are displayed. Those companies that exist in all three constructed portfolios are hilighted in the portfolio weights table.

### Porfolio Performance
Since the industry `Crude Petroleum and Natural Gas` cannot generate optimal portfolio selection for sample stimate and cosine similarity estimate, we do not include this industry in our performance comparison table.

In [2]:
columns = pd.MultiIndex.from_product([["Prepackaged Software", 
                                       "Pharmaceutical Preparations", "Real Estate Investment Trusts", 
                                       "State Commercial Banks",],
                                      ['Sample', 'Cosine Similarity', 'Factor Model']])

data = [[0.6,1.1,2.1,
         1.2,1.2,0.4,
         0.5,0.6,0.3,
         1.2,1.1,0.9],
        [2.4,2.9,15.9,
         2.1,2.6,12.2,
         1.8,1.7,8.0,
         2.7,2.2,20.8],
        [-0.57,-0.30,0.00,
         -0.35,-0.32,-0.13,
         -0.80,-0.81,-0.22,
         -0.28,-0.38,-0.05]]

methods = ["Expected Annual Return", "Annual Volatility", "Sharpe Ratio"]

df = pd.DataFrame(data, index = methods, columns = columns).T.round(2)

cm = sns.light_palette("#5CCDC6", n_colors = 35, as_cmap=True)

df.style.background_gradient(cmap=cm)


From the above table, we can see that factor model estimated portfolios give much higher volatility while the cosine similarity estimated portfolios give similiar results with the sample estimated portfolios. 

Next, we will look into each model's choice of companies to determine if cosine similarity analysis and factor model can be used to construct similar portfolios as the sample estimate.

In [3]:
columns = pd.MultiIndex.from_product([["Prepackaged Software", "Crude Petroleum and Natural Gas",
                                       "Pharmaceutical Preparations", "Real Estate Investment Trusts", 
                                       "State Commercial Banks",],
                                      ['Sample', 'Cosine Similarity', 'Factor Model']])

data = [[0.6,1.1,2.1,
         " "," ",0.6,
         1.2,1.2,0.4,
         0.5,0.6,0.3,
         1.2,1.1,0.9],
        [2.4,2.9,15.9,
         " "," ",32.8,
         2.1,2.6,12.2,
         1.8,1.7,8.0,
         2.7,2.2,20.8],
        [-0.57,-0.30,0.00,
         " "," ",-0.04,
         -0.35,-0.32,-0.13,
         -0.80,-0.81,-0.22,
         -0.28,-0.38,-0.05]]

methods = ["Expected Annual Return", "Annual Volatility", "Sharpe Ratio"]

df = pd.DataFrame(data, index = methods, columns = columns).T.round(2)

cm = sns.light_palette("#5CCDC6", n_colors = 35, as_cmap=True)

#df.style.background_gradient(cmap=cm)

### Porfolio Weights

#### Prepackaged Software (mass reproduction of software)

In [4]:
sample_software = pd.read_csv("data/min_vol_sample_Prepackaged_Software.csv")
cos_sim_software = pd.read_csv("data/min_vol_cos_sim_Prepackaged_Software.csv")
factor_model_software = pd.read_csv("data/min_vol_factor_model_Prepackaged_Software.csv")

sample_software = sample_software.sort_values(by=["Weight"], ascending=False).reset_index(drop=True)
cos_sim_software = cos_sim_software.sort_values(by=["Weight"], ascending=False).reset_index(drop=True)
factor_model_software = factor_model_software.sort_values(by=["Weight"], ascending=False).reset_index(drop=True)

columns = pd.MultiIndex.from_product([['Sample Estimate', 'Cosine Similarity Estimate'], 
                                      ['Company Name', 'Weight']])
software_12 = pd.concat([sample_software, cos_sim_software], axis=1)
software_12.columns = columns
software_12 = software_12.fillna(" ")

columns = pd.MultiIndex.from_product([['Sample Estimate', 'Factor Model Estimate'], 
                                      ['Company Name', 'Weight']])
software_13 = pd.concat([sample_software, factor_model_software], axis=1)
software_13.columns = columns
software_13 = software_13.fillna(" ")

columns = pd.MultiIndex.from_product([['Sample Estimate', 'Cosine Similarity Estimate', 'Factor Model Estimate'], 
                                      ['Company Name', 'Weight']])
software = pd.concat([pd.concat([sample_software, cos_sim_software], axis=1), factor_model_software], axis=1)
software.columns = columns
software = software.fillna(" ")

Same_12 = (set(sample_software.Company_Name) & set(cos_sim_software.Company_Name)) 
Same_13 = (set(sample_software.Company_Name) & set(factor_model_software.Company_Name)) 
Same_all = Same_12 & Same_13

##### Sample Estimate V.S. Cosine Similarity Estimate

In [5]:
software_12.style.applymap(highlight_12)

##### Sample Estimate V.S. Factor Model Estimate

In [6]:
software_13.style.applymap(highlight_13)

##### All Three Estimates

In [7]:
software.style.applymap(highlight_all)

For the industry `Prepackaged Software`, 6/15 of the companies in sample estimated portfolio and cosine similarity estimated portfolio are the same. 4/15 of the companies in sample estimated portfolio and factor model estimated portfolio are the same. When we compare all three porfolios, there is only one company in common.

#### Pharmaceutical Preparations

In [8]:
sample_pharm = pd.read_csv("data/min_vol_sample_Pharmaceutical_Preparations.csv")
cos_sim_pharm = pd.read_csv("data/min_vol_cos_sim_Pharmaceutical_Preparations.csv")
factor_model_pharm = pd.read_csv("data/min_vol_factor_model_Pharmaceutical_Preparations.csv")

In [9]:
sample_pharm = sample_pharm.sort_values(by=["Weight"], ascending=False).reset_index(drop=True)
cos_sim_pharm = cos_sim_pharm.sort_values(by=["Weight"], ascending=False).reset_index(drop=True)
factor_model_pharm = factor_model_pharm.sort_values(by=["Weight"], ascending=False).reset_index(drop=True)

In [10]:
columns = pd.MultiIndex.from_product([['Sample Estimate', 'Cosine Similarity Estimate'], 
                                      ['Company Name', 'Weight']])
pharm_12 = pd.concat([sample_pharm, cos_sim_pharm], axis=1)
pharm_12.columns = columns
pharm_12 = pharm_12.fillna(" ")

columns = pd.MultiIndex.from_product([['Sample Estimate', 'Factor Model Estimate'], 
                                      ['Company Name', 'Weight']])
pharm_13 = pd.concat([sample_pharm, factor_model_pharm], axis=1)
pharm_13.columns = columns
pharm_13 = pharm_13.fillna(" ")

columns = pd.MultiIndex.from_product([['Sample Estimate', 'Cosine Similarity Estimate', 'Factor Model Estimate'], 
                                      ['Company Name', 'Weight']])
pharm = pd.concat([pd.concat([sample_pharm, cos_sim_pharm], axis=1), factor_model_pharm], axis=1)
pharm.columns = columns
pharm = pharm.fillna(" ")

Same_12 = (set(sample_pharm.Company_Name) & set(cos_sim_pharm.Company_Name)) 
Same_13 = (set(sample_pharm.Company_Name) & set(factor_model_pharm.Company_Name)) 
Same_all = Same_12 & Same_13

##### Sample Estimate V.S. Cosine Similarity Estimate

In [11]:
pharm_12.style.applymap(highlight_12)

##### Sample Estimate V.S. Factor Model Estimate

In [12]:
pharm_13.style.applymap(highlight_13)

##### All Three Estimates

In [13]:
pharm.style.applymap(highlight_all)

For the industry `Pharmaceutical Preparations`, 4/21 of the companies in sample estimated portfolio and cosine similarity estimated portfolio are the same. 3/21 of the companies in sample estimated portfolio and factor model estimated portfolio are the same. When we compare all three porfolios, there are two companies in common.

#### Real Estate Investment Trusts

In [14]:
sample_real_estate = pd.read_csv("data/min_vol_sample_Real_Estate_Investment_Trusts.csv")
cos_sim_real_estate = pd.read_csv("data/min_vol_cos_sim_Real_Estate_Investment_Trusts.csv")
factor_model_real_estate = pd.read_csv("data/min_vol_factor_model_Real_Estate_Investment_Trusts.csv")

In [15]:
sample_real_estate = sample_real_estate.sort_values(by=["Weight"], ascending=False).reset_index(drop=True)
cos_sim_real_estate = cos_sim_real_estate.sort_values(by=["Weight"], ascending=False).reset_index(drop=True)
factor_model_real_estate = factor_model_real_estate.sort_values(by=["Weight"], ascending=False).reset_index(drop=True)

In [16]:
columns = pd.MultiIndex.from_product([['Sample Estimate', 'Cosine Similarity Estimate'], 
                                      ['Company Name', 'Weight']])
real_estate_12 = pd.concat([sample_real_estate, cos_sim_real_estate], axis=1)
real_estate_12.columns = columns
real_estate_12 = real_estate_12.fillna(" ")

columns = pd.MultiIndex.from_product([['Sample Estimate', 'Factor Model Estimate'], 
                                      ['Company Name', 'Weight']])
real_estate_13 = pd.concat([sample_real_estate, factor_model_real_estate], axis=1)
real_estate_13.columns = columns
real_estate_13 = real_estate_13.fillna(" ")

columns = pd.MultiIndex.from_product([['Sample Estimate', 'Cosine Similarity Estimate', 'Factor Model Estimate'], 
                                      ['Company Name', 'Weight']])
real_estate = pd.concat([pd.concat([sample_real_estate, cos_sim_real_estate], axis=1), factor_model_real_estate], axis=1)
real_estate.columns = columns
real_estate = real_estate.fillna(" ")

Same_12 = (set(sample_real_estate.Company_Name) & set(cos_sim_real_estate.Company_Name)) 
Same_13 = (set(sample_real_estate.Company_Name) & set(factor_model_real_estate.Company_Name)) 
Same_all = Same_12 & Same_13

##### Sample Estimate V.S. Cosine Similarity Estimate

In [17]:
real_estate_12.style.applymap(highlight_12)

##### Sample Estimate V.S. Factor Model Estimate

In [18]:
real_estate_13.style.applymap(highlight_13)

##### All Three Estimates

In [19]:
real_estate.style.applymap(highlight_all)

For the industry `Real Estate Investment Trusts`, 6/13 of the companies in sample estimated portfolio and cosine similarity estimated portfolio are the same. 5/13 of the companies in sample estimated portfolio and factor model estimated portfolio are the same. When we compare all three porfolios, there are two companies in common.

#### State Commercial Banks (commercial banking)

In [20]:
sample_banks = pd.read_csv("data/min_vol_sample_State_Commercial_Banks.csv")
cos_sim_banks = pd.read_csv("data/min_vol_cos_sim_State_Commercial_Banks.csv")
factor_model_banks = pd.read_csv("data/min_vol_factor_model_State_Commercial_Banks.csv")

In [21]:
sample_banks = sample_banks.sort_values(by=["Weight"], ascending=False).reset_index(drop=True)
cos_sim_banks = cos_sim_banks.sort_values(by=["Weight"], ascending=False).reset_index(drop=True)
factor_model_banks = factor_model_banks.sort_values(by=["Weight"], ascending=False).reset_index(drop=True)

In [22]:
columns = pd.MultiIndex.from_product([['Sample Estimate', 'Cosine Similarity Estimate'], 
                                      ['Company Name', 'Weight']])
banks_12 = pd.concat([sample_banks, cos_sim_banks], axis=1)
banks_12.columns = columns
banks_12 = banks_12.fillna(" ")

columns = pd.MultiIndex.from_product([['Sample Estimate', 'Factor Model Estimate'], 
                                      ['Company Name', 'Weight']])
banks_13 = pd.concat([sample_banks, factor_model_banks], axis=1)
banks_13.columns = columns
banks_13 = banks_13.fillna(" ")

columns = pd.MultiIndex.from_product([['Sample Estimate', 'Cosine Similarity Estimate', 'Factor Model Estimate'], 
                                      ['Company Name', 'Weight']])
banks = pd.concat([pd.concat([sample_banks, cos_sim_banks], axis=1), factor_model_banks], axis=1)
banks.columns = columns
banks = banks.fillna(" ")

Same_12 = (set(sample_banks.Company_Name) & set(cos_sim_banks.Company_Name)) 
Same_13 = (set(sample_banks.Company_Name) & set(factor_model_banks.Company_Name)) 
Same_all = Same_12 & Same_13

##### Sample Estimate V.S. Cosine Similarity Estimate

In [23]:
banks_12.style.applymap(highlight_12)

 ##### Sample Estimate V.S. Factor Model Estimate

In [24]:
banks_13.style.applymap(highlight_13)

##### All Three Estimates

In [25]:
banks.style.applymap(highlight_all)

For the industry `State Commercial Banks`, 3/11 of the companies in sample estimated portfolio and cosine similarity estimated portfolio are the same. 6/11 of the companies in sample estimated portfolio and factor model estimated portfolio are the same. When we compare all three porfolios, there is only one company in common. 

Although factor model has more companies in common with the sample model, this factor model portfolio gives a large portfolio wiht 43 companies, we cannot conclude that factor model is doing a better job on constructing the portfolio.

#### Crude Petroleum and Natural Gas
Since there is no optimal portfolio generating from sample estimate and cosine similarity estimate for the Crude Petroleum and Natural Gas industry, we only display the portfolio weights for factor model estimate.

In [26]:
factor_model_crude = pd.read_csv("data/min_vol_factor_model_Crude_Petroleum_and_Natural_Gas.csv")

factor_model_crude = factor_model_crude.sort_values(by=["Weight"], ascending=False).reset_index(drop=True)

In [27]:
columns = pd.MultiIndex.from_product([['Factor Model Estimate'], 
                                      ['Company Name', 'Weight']])

factor_model_crude.columns = columns

In [28]:
factor_model_crude.style.applymap(highlight_all)

### Conclusion

Overall, cosine similarity analysis has a better performance on estimating covariance close to the sample covariance. From the performance table, we can conclude that sample estimate and cosine similarity estimate give similar results on expected returns and annual volatility for the minimum-variance portfolio.

For all portfolios constructed, less than half of the companies are in common with sample estimate portfolio being the reference. Most portfolios generated by cosine similarity estimate and factor model estimate contain more companies than the sample portfolio. Considering the portfolio size and the number of common companies, cosine similarity estimate illustrates highest degree of identical attributes for only one industry - `Prepackaged Software`. 

To sum up, the feasibility of constructing similar portfolios using the document embeddings of the company's business description in SEC filings is low. However, our research has certain limitations, such as the accrucy of topic selection in factor model, due to unsupervised learning. Moreover, the informativeness of the words we used in word embedding is not confirmed. 

For future research, we may apply topic modeling on the risk disclosure section of SEC filings and use the risk factors in the factor model. Business description of the companies may not explain much of their returns and correlation with other companies. Risk disclosure of the companies may reveal more information.