In [1]:
import pandas as pd

### Pharmaceutical Preparations

In [3]:
sample_pharm = pd.read_csv("data/min_vol_sample_Pharmaceutical_Preparations.csv")
cos_sim_pharm = pd.read_csv("data/min_vol_cos_sim_Pharmaceutical_Preparations.csv")
factor_model_pharm = pd.read_csv("data/min_vol_factor_model_Pharmaceutical_Preparations.csv")

In [4]:
sample_pharm = sample_pharm.sort_values(by=["Weight"], ascending=False).reset_index(drop=True)
cos_sim_pharm = cos_sim_pharm.sort_values(by=["Weight"], ascending=False).reset_index(drop=True)
factor_model_pharm = factor_model_pharm.sort_values(by=["Weight"], ascending=False).reset_index(drop=True)

In [5]:
columns = pd.MultiIndex.from_product([['Sample Estimate', 'Cosine Similarity Estimate', 'Factor Model Estimate'], 
                                      ['Company Name', 'Weight']])
pharm = pd.concat([pd.concat([sample_pharm, cos_sim_pharm], axis=1), factor_model_pharm], axis=1)
pharm.columns = columns
Same = (set(sample_pharm.Company_Name) & set(cos_sim_pharm.Company_Name)) & set(factor_model_pharm.Company_Name)

In [6]:
def highlight(val):
    color = 'blue' if val in Same else 'black'
    return 'color: %s' % color

In [7]:
pharm.style.applymap(highlight)

### Prepackaged Software (mass reproduction of software)

In [8]:
sample_software = pd.read_csv("data/min_vol_sample_Prepackaged_Software.csv")
cos_sim_software = pd.read_csv("data/min_vol_cos_sim_Prepackaged_Software.csv")
factor_model_software = pd.read_csv("data/min_vol_factor_model_Prepackaged_Software.csv")

In [9]:
sample_software = sample_software.sort_values(by=["Weight"], ascending=False).reset_index(drop=True)
cos_sim_software = cos_sim_software.sort_values(by=["Weight"], ascending=False).reset_index(drop=True)
factor_model_software = factor_model_software.sort_values(by=["Weight"], ascending=False).reset_index(drop=True)

In [10]:
columns = pd.MultiIndex.from_product([['Sample Estimate', 'Cosine Similarity Estimate', 'Factor Model Estimate'], 
                                      ['Company Name', 'Weight']])
software = pd.concat([pd.concat([sample_software, cos_sim_software], axis=1), factor_model_software], axis=1)
software.columns = columns
Same = (set(sample_software.Company_Name) & set(cos_sim_software.Company_Name)) & set(factor_model_software.Company_Name)

In [11]:
software.style.applymap(highlight)

### Real Estate Investment Trusts

In [12]:
sample_real_estate = pd.read_csv("data/min_vol_sample_Real_Estate_Investment_Trusts.csv")
cos_sim_real_estate = pd.read_csv("data/min_vol_cos_sim_Real_Estate_Investment_Trusts.csv")
factor_model_real_estate = pd.read_csv("data/min_vol_factor_model_Real_Estate_Investment_Trusts.csv")

In [13]:
sample_real_estate = sample_real_estate.sort_values(by=["Weight"], ascending=False).reset_index(drop=True)
cos_sim_real_estate = cos_sim_real_estate.sort_values(by=["Weight"], ascending=False).reset_index(drop=True)
factor_model_real_estate = factor_model_real_estate.sort_values(by=["Weight"], ascending=False).reset_index(drop=True)

In [14]:
columns = pd.MultiIndex.from_product([['Sample Estimate', 'Cosine Similarity Estimate', 'Factor Model Estimate'], 
                                      ['Company Name', 'Weight']])
real_estate = pd.concat([pd.concat([sample_real_estate, cos_sim_real_estate], axis=1), factor_model_real_estate], axis=1)
real_estate.columns = columns
Same = (set(sample_real_estate.Company_Name) & set(cos_sim_real_estate.Company_Name)) & set(factor_model_real_estate.Company_Name)

In [15]:
real_estate.style.applymap(highlight)

### State Commercial Banks (commercial banking)

In [16]:
sample_banks = pd.read_csv("data/min_vol_sample_State_Commercial_Banks.csv")
cos_sim_banks = pd.read_csv("data/min_vol_cos_sim_State_Commercial_Banks.csv")
factor_model_banks = pd.read_csv("data/min_vol_factor_model_State_Commercial_Banks.csv")

In [17]:
sample_banks = sample_banks.sort_values(by=["Weight"], ascending=False).reset_index(drop=True)
cos_sim_banks = cos_sim_banks.sort_values(by=["Weight"], ascending=False).reset_index(drop=True)
factor_model_banks = factor_model_banks.sort_values(by=["Weight"], ascending=False).reset_index(drop=True)

In [18]:
columns = pd.MultiIndex.from_product([['Sample Estimate', 'Cosine Similarity Estimate', 'Factor Model Estimate'], 
                                      ['Company Name', 'Weight']])
banks = pd.concat([pd.concat([sample_banks, cos_sim_banks], axis=1), factor_model_banks], axis=1)
banks.columns = columns
Same = (set(sample_banks.Company_Name) & set(cos_sim_banks.Company_Name)) & set(factor_model_banks.Company_Name)

In [19]:
banks.style.applymap(highlight)

### Crude Petroleum and Natural Gas
Since there is no optimal portfolio generating from cosine similarity estimate or factor model estimate for the Crude Petroleum and Natural Gas industry, we only display the portfolio weights for sample estimate.

In [24]:
sample_crude = pd.read_csv("data/min_vol_sample_Crude_Petroleum_and_Natural_Gas.csv")
columns = pd.MultiIndex.from_product([['Sample Estimate'], 
                                      ['Company Name', 'Weight']])
sample_crude.columns = columns
sample_crude
#cos_sim_crude = pd.read_csv("data/min_vol_cos_sim_Crude_Petroleum_and_Natural_Gas.csv")
#factor_model_crude = pd.read_csv("data/min_vol_factor_model_Crude_Petroleum_and_Natural_Gas.csv")

                                 Sample Estimate
                                    Company Name   Weight
0                              ROSETTA STONE INC  0.01647
1                              MICROSTRATEGY INC  0.02160
2                          AVID TECHNOLOGY, INC.  0.00129
3   ENDURANCE INTERNATIONAL GROUP HOLDINGS, INC.  0.02554
4                                    ZEDGE, INC.  0.01792
5                                    ORACLE CORP  0.09170
6                            ACI WORLDWIDE, INC.  0.11314
7                                      QUMU CORP  0.05153
8                                   QUALYS, INC.  0.06668
9                          COMMVAULT SYSTEMS INC  0.07381
10                            BLACK KNIGHT, INC.  0.20000
11                                LIVEPERSON INC  0.01519
12                   NUANCE COMMUNICATIONS, INC.  0.08608
13                                AWARE INC /MA/  0.20000
14                                       MAJESCO  0.01906